/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* set box-sizing to border-box */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* custom styles */
html, body {
	/* background-color: rgb(1, 36, 59); */
	height: 100%;
	overflow: hidden;
}
body {
}

/*
  FISH
*/

.fish {
	width: 100px;
	height: 75px;
	position: absolute;
	background-image: url(img/fish.png);
	background-size: 100% 100%;
	z-index: 10;
}
.predator {
	background-image: url(img/fish.png);

	-webkit-filter: hue-rotate(300deg);
	filter: hue-rotate(300deg);

	z-index: 5;
}

.scatterfish {
	background-image: url(img/fish.png);

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

	z-index: 20;
	opacity: .4;
}
.newfish {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}
.hungry {
	-webkit-filter: hue-rotate(100deg);
	filter: hue-rotate(100deg);
}
#menu {
	position: absolute;
	width: 100%;
	text-align: right;
	padding: 10px;
}
#menu a {
	display: inline-block;
	padding: 5px;
	border: 2px solid #002727;
}
#menu a:hover {
	background-color: #002727;
	color: #FFF;
	cursor: pointer;
}
/*
  AQUARIUM
 */
body {
	background-color: #002727
}
#air {
	height: 20%;
}
#air, #wave {
	background-color: #B7D3C8;
}
#wave {
	height: 10%;
	background-image: url(img/waves@2x.gc.png);
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: repeat-x;
	background-position: left top;
	margin-bottom: -1px;
}
#aquarium {
	height: 70%;
	background-color: #002727;
	position: relative;
}
